# Виртуальное окружение (самое важное!)
.venv/
venv/
ENV/

# Кэш Python
**/__pycache__/
*.py[cod]
*$py.class

# Настройки PyCharm (IDE)
.idea/

# Переменные окружения (секреты, ключи API)
.env

# Распределенные системы и логи
*.log
build/
dist/